.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

table {
  width: 100%;
}

th {
  border-bottom: 1px solid black;
  text-align: center;
}

td {
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}