<!-- Page Footer -->
<footer>
  <div class='social-links'>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <p>
          <a routerLink="/rights">&copy; 2018 TulsaVenues. All Rights Reserved.</a>
        </p>
        <span class="spacer"></span>
        <ul>
          <li>
            <mat-icon aria-label="Facebook icon link">
              <a href='https://facebook.com/BaldridgePhotography1/' target='_blank' rel='noopener'>
                <img src="/assets/images/facebook.svg" alt="Facebook icon link" />
              </a>
            </mat-icon>
          </li>
        
          <li>
            <mat-icon aria-label="Instagram icon link">
              <a href='https://www.instagram.com/baldridgephotography/' target='_blank' rel='noopener'>
                <img src="/assets/images/instagram.svg" alt="Instagram icon link" />
              </a>
            </mat-icon>
          </li>
          <li>
            <mat-icon aria-label="email icon link">
              <a href='mailto:baldridgephotography@gmail.com' target='_top'>
                <img src="/assets/images/email.svg" alt="Email icon link" />
              </a>
            </mat-icon>
          </li>
          <li>
            <mat-icon aria-label="Phone icon link">
              <a href='tel:918-576-8468' data-content='918-576-8468' data-type='phone'>
                <img src="/assets/images/phone.svg" alt="Phone icon link" />
              </a>
            </mat-icon>
          </li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</footer>
<!-- end-footer -->
