<div class="container">
    <h2 class="text-center">Reviews</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>email</th>
                <th>Approved</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="reviews" *ngFor="let review of reviews; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ review?.email }}</td>
                <td>
                    <ng-container *ngIf="review.approved; else elseTemplate">
                        <mat-icon aria-label="approved icon" class="approved">
                            <i class="material-icons">&#xE834;</i>
                        </mat-icon>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <mat-icon aria-label="unapproved icon" class="unapproved">
                            <i class="material-icons" >&#xE835;</i>
                        </mat-icon>
                    </ng-template>
                </td>
                <td class="delete">
                    <button mat-icon-button color="accent" [routerLink]="['/review', 'edit', review._id]">
                        <mat-icon aria-label="icon-button to edit review">
                            <i class="material-icons">&#xE3C9;</i>
                        </mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="destroyReview(review._id, i)">
                        <mat-icon aria-label="icon-button to delete review">
                            <i class="material-icons">&#xE872;</i>
                        </mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>